{% extends 'base.html' %}
{% block title %}
About
{% endblock %}

{% block content %}
<div class="px-2">
    <h1>About the website</h1><br>
    <h4>Healthcare is a website made for under a Major Project by the following contributors.</h4><br>
    <ul>
        <li>Aditya Singh</li>
        <li>Aayush Prabhu</li>
        <li>Kaushal Pawar</li>
        <li>Akash Salvi</li>
    </ul>
    This project is made under the guidance of <b>Prof. D. M. Bavkar.</b>
    <br>
    <div>
        <u>
            <h2>Project Aim</h2>
        </u>
        <p>Store and Retrieve the Healthcare records for a patient with a medical institution</p>

        <br>
        <u>
            <h2>Objectives</h2>
        </u>
        <ul>
            <li>Store and access the healthcare records using Blockchain</li>
            <li>Decentralize the storage method of the user profiles and data.</li>
            <li>Remove a single point of failuer</li>
            <li>Use Inter Planetary File System, a distributed system to store the medical files.</li>
            <li>Provide a permissioned framework where the documents are sharable and synchronized with multiple
                entities.</li>
        </ul>
        <br>
        <u>
            <h2>Technologies Used</h2>
        </u>
        <ul>
            <li>Django Web Framework</li>
            <li>Python Programming Language</li>
            <li>HTML, CSS, JavaScript</li>
            <li>Ethereum Blockchain Protocol</li>
            <li>IPFS Api wrapper for Python</li>
            <li>Web3.py Python package</li>
            <li>Ether.js library for JavaScript</li>
        </ul>
    </div>
</div>
{% endblock %}