{% extends 'base.html' %}
{% block title %} Doctor Profile {% endblock %}
{% block header %}
<link rel="stylesheet" href="../static/logapp/css/modal.css">
{% endblock %}

{% block content %}
{{ data.doctor }}
<button type="button" id="doctorProfileButton" url="{% url 'doctorprofile' %}" onclick="getDoctorProfile()" class="btn btn-success">
    Get Doctor Profile
</button>

<div id="doctorProfile">
    <p id="doctorname"></p>
    <p id="doctoraddress"></p>
    <p id="doctorpatients"></p>
</div>

<button type="button" id="doctorPatient" onclick="getDoctorPatients()" class="btn btn-primary">
    Get Doctor Patient
</button>

<div id="getDoctorsPatients">
    <!-- <p id="patientAddesss"></p> -->
</div>


<button id="myBtn" style="display: none;">Open Modal</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <h2>Patient File Information</h2>
        <p id="docPatname">Patient Name: </p>
        <p id="docPatAge">Patient Age: </p>
        <p id="docPatAddr">Patient identifier: </p><br>
        <div id="patientPrescriptions">
            
        </div>
        <!-- <form id="uploadFileForm" url="{% url 'uploadfile' %}" csrf_token="{{ csrf_token }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="uploadFileInput">Upload file</label>
                <input type="file" class="form-control-file" id="uploadFileInput">
            </div>
            <button type="button" class="btn btn-success" id="fileUploadButton" onclick="uploadFile()">Upload</button>
        </form> -->
    </div>
</div>


<script src="../static/logapp/js/modal.js"></script>
{% endblock %}