{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block header %}
<link rel="stylesheet" href="../static/logapp/css/modal.css">
{% endblock %}

{% block content %}
<h2>Get Patients profile</h2>
<button type="button" onclick="getPatientProfile()" class="btn btn-primary">My Profile</button>

<div id="displayPatientProfile">
    <h3>Patient Information</h3>
    <p id="patientName"></p>
    <p id="patientAddress"></p>
    <p id="patientAge"></p>
    <p id="patientDoctorAccess"></p>
</div>

<form id="giveAccessForm">
    <div id="doctoraddress-group" class="form-group row">
        <label class="col-sm-2 col-form-label" for="doctoraddress">Doctor Address -</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="doctoraddress" name="doctoraddress" placeholder="Enter doctor address" required>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        Give Access
    </button>
</form>

<!-- <button id="myBtn">Open Modal</button> -->

<div id="myModal" class="modal">
    <div class="modal-content">
        <div>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <p>Some modal text.</p>
        <form id="uploadFileForm" url="{% url 'uploadfile' %}" csrf_token="{{ csrf_token }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="uploadFileInput">Upload file</label>
                <input type="file" class="form-control-file" id="uploadFileInput">
            </div>
            <button type="button" class="btn btn-success" id="fileUploadButton" onclick="uploadFile()">Upload</button>
        </form>
    </div>
</div>

<script src="../static/logapp/js/modal.js"></script>

{% endblock %}