{% extends 'base.html' %}
{% block content %}
<html>

<body>

    <h2>Add Prescription</h2>

    <form>
        <label for="fname">Prescription Name:</label><br>
        <input type="text" id="pname" name="pname"><br>
        <label for="treatment">Treatment:</label><br>
        <input type="text" id="treatment" name="treatment">
        <label for="dose">Dose Information:</label><br>
        <input type="text" id="dose" name="dose">
    </form>
    <input type="Submit" value="Submit">


</body>

</html>

{% endblock %}