<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<title> {% block title %} {% endblock %} </title>
	<link rel="stylesheet" href="{% static 'logapp/css/bootstrap.min.css' %}" >
	<style>
		/* * {
			font-size: 40px
		} */

		#nav {
			background-color: lightblue;
		}

		/* #nav a {
			color: white;
			text-decoration: none;
			padding: 30px;
		} */
	</style>
</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Healthcare</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
			</li>
			{% else %}
			<li class="nav-item active">
			  <a class="nav-link" href="{% url 'user_signup' %}">Signup</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'user_login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>
		</div>
	  </nav>

	  <center>
		{% block content %}{% endblock %}
	  </center>
</body>

</html>