<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<title> {% block title %} {% endblock %} </title>
	<link rel="stylesheet" href="{% static 'logapp/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="../static/logapp/css/style.css">
	<script src="{% static 'logapp/js/jquery-3.6.0.js' %}"></script>
	<script src="../static/logapp/js/logapp.js"></script>
	{% block header %} {% endblock %}
</head>

<body>

	<script type="module">
		import { ethers } from "../static/logapp/js/ethers-5.1.esm.min.js";
		assignEtherObject(ethers);
	</script>


	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #83c6f5; padding-left: 5%;">
		<a class="navbar-brand" href="#">Healthcare</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav" style="align-items:flex-end;">
			<ul class="navbar-nav">
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
				</li>
				{% else %}
				<li class="nav-item active">
					<a class="nav-link" onclick="test()" href="#">Signup</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'user_login' %}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" onclick="connectWallet()" href="#">Connect Wallet</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'signupEntity' %}">Signup Entity</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'doctor' %}">Doctor</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	{% if user.is_authenticated %}
	<div class="sidebar">
		<a href="{% url 'index' %}"> Dashboard </a>
		<a href="#">Appointment </a>
		<a href="#"> Doctors </a>
		<a href="#"> Department </a>
		<a href="#"> Patients</a>
		<a href="{% url 'prescription' %}"> Prescription</a>
	</div>
	{% endif %}

	<div class="container pt-3">
		{% block content %}
		{% endblock %}
	</div>
</body>

</html>